<h2>{{title}}</h2>


<p>{{game.verbs[game.currentIndex].tense.present}}</p>
<p>
  <span *ngIf="hiddenTense !== 'past'">{{game.verbs[game.currentIndex].tense.past}}</span>
  <span *ngIf="hiddenTense === 'past'"><input [ngStyle]="{'box-shadow': valid ? '0 0  2px 4px cornflowerblue' : ''}" (keyup)="onKey($event)" [(ngModel)]="userInput"></span>
</p>
<p>
  <span *ngIf="hiddenTense !== 'pastParticiple'">{{game.verbs[game.currentIndex].tense.pastParticiple ? game.verbs[game.currentIndex].tense.pastParticiple : game.verbs[game.currentIndex].tense.past}}</span>
  <span *ngIf="hiddenTense === 'pastParticiple'"><input [ngStyle]="{'box-shadow': valid ? '0 0  2px 4px cornflowerblue' : ''}" (keyup)="onKey($event)" [(ngModel)]="userInput"></span>
</p>

<button (click)="next()" >Next</button>
<!-- <button (click)="finishGame()" *ngIf="game.currentIndex === limit - 1">Results</button> -->
