<h2>{{title}}</h2>


<p>{{verbs[currentIndex].tense.present}}</p>
<p>
  <span *ngIf="replaceIndex !== 0">{{verbs[currentIndex].tense.past}}</span>
  <span *ngIf="replaceIndex === 0"><input (keyup)="onKey($event)"></span>
</p>
<p>
  <span *ngIf="replaceIndex !== 1">{{verbs[currentIndex].tense.pastParticiple ? verbs[currentIndex].tense.pastParticiple : verbs[currentIndex].tense.past}}</span>
  <span *ngIf="replaceIndex === 1"><input (keyup)="onKey($event)"></span>
</p>

<button (click)="next()" *ngIf="currentIndex < limit - 1">Next</button>
<button routerLink="/result" *ngIf="currentIndex === limit - 1">Results</button>
