<ion-header>

    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="selectedLevel" padding>
            <ion-segment-button *ngFor="let level of levels" value="{{level.index}}">
                {{level.label | uppercase}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div [ngSwitch]="selectedLevel">
        <div *ngFor="let level of levels">
            <ion-list *ngSwitchCase="level.index">
                <div *ngFor="let verb of verbs">
                    <ion-item *ngIf="level.index == verb.level">
                        <input
                            type="checkbox"
                            [(ngModel)]="verb.disabled"
                            (change)="toggleVerb(verb)"
                            [disabled]="!verb.disabled && getDisabledVerbsCount() >= verbs.length - 10">
                        <span>{{verb.tense.present}}</span>
                    </ion-item>
                </div>
            </ion-list>
        </div>
    </div>
</ion-content>
